{% extends 'base.html.twig' %}

{% block body %}


<div class="col-md-10 content">
        <div class="panel panel-default">
                <div class="panel-heading">
                        <h3>Qui somme-nous?</h3>
                </div>
                <div class="panel-body">


                        <h2>En quoi consiste notre site</h2>

                        <p>En L3, 1ère année du cycle ingénieur, les éléves partent
                                pour un semestre obligatoire au Canada, en Afrique du sud, en Inde
                                ou en Malaisie.</p>

                        <p>Tout en suivant des modules scientifique et informatique, les éléves sont amenés à éffectuer une
                                expérience riche lors de laquelle, ils developpent leur compétences
                                en anglais et apprenent à s adapter à un nouveau système académique et culturel. </p>

                        <p>Ce site vous permettra d en apprendre d avantage sur les destintions de L3 et d échanger avec les
                                anciens étudiants et nous-même</p>

                        <h2>A propos de nous </h2>
                        <p>Nous sommes un groupe de cinq étudiants à l Efrei en L2, et avions pour idée de s entraider avec
                                les différents étudiants. Nous nous sommes d abord posé la question : comment nous rendre utile.
                                Plusieurs question, nous ai venu en tête à propos de l immersion. </p>


                </div>
        </div>
</div>
    {% endblock %}
